{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Conant Math Team Updates</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
  <div onclick="showMenu()"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
  <div id="navBar">
    <a href="{% url 'core:post_list' %}">questions</a>
    <a href="{% url 'core:question_list' %}">problem sets</a>
  </div>
  <div id="banner">
    <h1>start practice today</h1>
    <a href="{% url 'core:register' %}"><button class="btn btn-default">sign up</button></a>
    <a href="{% url 'core:login_user' %}"><button class="btn btn-default">login</button></a>
  </div>

</div>
</body>
</html>
