{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

</head>
<body>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <span class="navbar-brand">Conant Math Team</span>
      <div class="navbar-nav">
            <a class="nav-link" href="{% url 'core:homepage' %}">Home<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="{% url 'core:post_list' %}">Updates</a>
          <a class="nav-link active" href="{% url 'core:question_list' %}">Practice Problems</a>
          <a class="nav-link" href="{% url 'core:logout_user' %}">Logout</a>
          <div id="name"class="nav navbar-nav navbar-right">
            <h3 id="welcome">Welcome, {{ user.username }}</h3>
          <div>
      </div>

    </nav>
    <div class="questions-container">
  <h1 id="title">Practice Problems</h1>
  <div class="questionList">
  <img class="img-fluid" src="{{ question.questionPicture.url }}" width="1000" height="500">
  <p class="left">Topic: {{ question.topic }}</p>
  <p class="left">Difficulty: {{ question.difficulty }}</p>
  <p class="left">Year: {{ question.year }}</p>
  <p class="left">Grade: {{ question.grade }}</p>
  <p class="left">Completed: {{ question.is_complete }} </p>
  {% if submitbutton %}


  {% elif not submitAnswerButton %}
  {% if not question.is_complete %}
    <form action="{% url 'core:detail' question.id %}" method="post" role="form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="input" name="answer" placeholder="Type Answer Here">
      <input type="submit" name="submitAnswer" value="Submit Answer" class="btn btn-blue"/>
    </form>
    {% endif%}
    {% elif not submitbutton %}

        {% if correctAnswer %}
          <p>You are Correct</p>
        {% else %}
          <p>You are Incorrect</p>
        {% endif %}
  {% endif %}
  {% if question.is_complete %}
  <br>
  <img class="img-fluid"src="{{ question.answerPicture.url }}" width="1000" height="500" id="answer">
  {% endif %}
</div>
</div>
<footer id="footer">©2018 Created by Nisha Pant</footer>
</body>
</html>
