{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Conant Math Team Updates</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body onload="reset()">
  <div onclick="showMenu()"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>
  <nav class="navbar navbar-default" id="navBar">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Conant Math Team</a>
    </div>
    <br><br>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="{% url 'core:homepage' %}">Home</a></li>
      <li><a href="{% url 'core:post_list' %}">Updates</a></li>
      <li class="active"><a href="{% url 'core:question_list' %}">Problem Sets</a></li>
      <li><a href="{% url 'core:logout_user' %}">Logout</a></li>
    </ul>
  </div>
</nav>
  <h1>Conant Math Team Questions- nothing searched</h1>
  <div>
    <form role="form" method="post" action="{% url 'core:question_list' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <table>
                <tr>
                <td>
                <input value="Ratios, Proportions and Percents" type="checkbox" name="Ratios, Proportions and Percents">Ratios, Proportions and Percents<br>
                <input value="Number Theory and Divisibility" type="checkbox"name="Number Theory and Divisibility">Number Theory and Divisibility<br>
                <input value="Counting Basics and Probability" type="checkbox"name="Counting Basics and Probability">Counting Basics and Probability<br>
                <input value="Quadratics" type="checkbox" name="Quadratics">Quadratics<br>
                <input value="Probability" type="checkbox" name="Probability">Probability<br>
                <input value="Advanced Geometrical Concepts" type="checkbox" name="Advanced Geometrical Concepts">Advanced Geometrical Concepts<br>
                <input value="Perimeter, Area and Surface Area" type="checkbox" name="Perimeter, Area and Surface Area">Perimeter, Area and Surface Area<br>
                <input value="Logic, Sets and Venn Diagram" type="checkbox"name="Logic, Sets and Venn Diagram">Logic, Sets and Venn Diagram<br>
                <input value="Similarity" type="checkbox"name="Similarity">Similarity<br>
                <input value="Coordiante Geometry" type="checkbox" name="Coordiante Geometry">Coordiante Geometry<br>
                <input value="Circles" type="checkbox" name="Circles">Circles<br>
                <input value="Trigonometry" type="checkbox" name="Trigonometry">Trigonometry<br>
                <input value="Parametric Equations" type="checkbox" name="Parametric Equations">Parametric Equations<br>
                <input value="Theory of Equations" type="checkbox" name="Theory of Equations">Theory of Equations<br>
              </td>
              <td>
                <input value="Freshman" type="checkbox" name="Freshman">Freshman<br>
                <input value="Sophomore" type="checkbox" name="Sophomore">Sophomore<br>
                <input value="Junior" type="checkbox" name="Junior">Junior<br>
                <input value="Senior" type="checkbox" name="Senior">Senior<br>
              </td>
              <td>
                <input value="1" type="checkbox" name="1">1<br>
                <input value="2" type="checkbox" name="2">2<br>
                <input value="3" type="checkbox" name="3">3<br>
                <input value="4" type="checkbox" name="4">4<br>
                <input value="5" type="checkbox" name="5">5<br>
              </td>
              </tr>
              </table>
              <button type="submit" class="btn btn-default" name="submit">Search</button>
    </form>
  <div >
  {% for question in questions %}
  <div class="questionList">
    <a href="{% url 'core:detail' question.id %}">
      <img class="img-responsive"src="{{ question.questionPicture.url }}" width="1000" height="500">
      <p>created date: {{ question.created_date }}</p>
      <p>topic: {{ question.topic }}</p>
      <p>difficulty: {{ question.difficulty }}</p>
      <p>year: {{ question.year }}</p>
      <p>grade: {{ question.grade }}</p>
    </a>
  </div>
</div>
  {% endfor %}
</div>

<!--  search -->
  {% if question_results %}
  {% for question in question_results %}
  <hr>
  <div>
    <a href="{% url 'core:detail' question.id %}">
      <img class="img-responsive"src="{{ question.questionPicture.url }}" width="1000" height="500">
      <p>created date: {{ question.created_date }}</p>
      <p>topic: {{ question.topic }}</p>
      <p>difficulty: {{ question.difficulty }}</p>
      <p>year: {{ question.year }}</p>
      <p>grade: {{ question.grade }}</p>
    </a>
  </div>

  {% endfor %}
  {% endif %}

</div>
</body>
</html>
