#name{
  text-align: right;
  margin-right: 15px;
  margin-left: 300px;
  margin-top: 7px;
}
#welcome{
  font-size: 20px;
}
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}

body{
  margin: 0;
  padding: 0;
  color: #004d66;
  font-family: 'Roboto', sans-serif;
  background-color: #63D1F4;
}

h4{
  font-weight: 300;
  display: inline-block;
  font-size: 30px;
}
#title{
  margin-top:30px;
  font-weight: 400;
  text-align: center
}

#posts{
  margin-left: 50px;
  margin-top: 60px;
}
.inline{
    display: inline-block;
    margin-left: 10px;
}
#footer {
   position:absolute;
   bottom:0;
   font-size: 15px;
   text-align: right;
   width:100%;
   height:50px;   /* Height of the footer */
   padding-right: 25px;
}
